<!DOCTYPE html>
<html lang="pt" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo</title>
    <link href="./output.css" rel="stylesheet">
</head>
<body class="h-screen dark:bg-gray-800">
    <div class="container mx-auto py-8 mt-4 space-y-8">
        <div>
            <h6 class="font-bold mb-2 dark:text-gray-100">Componente Dropdown</h6>

            
        </div>

        <div>
            <h6 class="font-bold mb-2 dark:text-gray-100">Componente Input</h6>

            <div class="flex space-x-3 mb-3">
                <input 
                    type="text"
                    placeholder="Digite seu nome"
                    class="w-1/2 bg-gray-50 border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-opacity-50 focus:outline-none rounded py-2 px-2 text-base text-gray-800 transition ease-in-out delay-150"
                >

                <input 
                    type="text"
                    placeholder="Digite seu cpf"
                    class="w-1/2 bg-gray-50 border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none rounded py-1 px-2 text-base text-gray-800 transition ease-in-out delay-150"
                >
            </div>

            <textarea 
                class="w-full bg-gray-50 border border-gray-300 rounded focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:opacity-50 py-1 px-2 transition ease-in-out delay-150" 
                name="" id="" 
                rows="5"
            ></textarea>
            
        </div>

        <div>
            <h6 class="font-bold mb-2 dark:text-gray-100">Componente Badge/Tag</h6>

            <div>
                <div class="text-sm bg-green-100 text-green-800 inline-flex items-center rounded-full px-2 py-0.5 font-medium">
                    Ativo
                </div>

                <div class="text-sm bg-green-100 text-green-800 inline-flex items-center rounded-full px-2 py-0.5 font-medium">
                    Ativo
                </div>
            </div>

            <div class="my-2"> 
                <div class="text-sm bg-red-100 text-red-800 inline-flex items-center rounded-full px-2 py-0.5 font-medium">
                    Inativo
                </div>
                <div class="text-sm bg-red-100 text-red-800 inline-flex items-center rounded-full px-2 py-0.5 font-medium">
                    Inativo
                </div>
            </div>

            <div>
                <div class="text-sm bg-yellow-100 text-yellow-800 inline-flex items-center rounded-full px-2 py-0.5 font-medium">
                    Pendente
                </div>
                <div class="text-sm bg-yellow-100 text-yellow-800 inline-flex items-center rounded-full px-2 py-0.5 font-medium">
                    Pendente
                </div>
            </div>
        </div>

        <hr>

        <div>
            <h6 class="font-bold mb-2 dark:text-gray-100">Componente Button</h6>
            <button class="text-sm bg-blue-500 hover:bg-blue-600 px-4 py-1 rounded text-white shadow">
                Save
            </button>

            <button class="text-md bg-blue-500 hover:bg-blue-600 px-6 py-2 rounded text-white shadow">
                Save
            </button>

            <button class="text-base bg-blue-500 hover:bg-blue-600 px-8 py-3 rounded text-white shadow">
                Save
            </button>
        </div>

        <hr>

        <div>
            <h6 class="font-bold mb-2 dark:text-gray-100">Componente Card</h6>

            <div class="bg-white dark:bg-gray-600 shadow-md rounded-lg">
                <div class="bg-gray-200 dark:bg-gray-700 dark:text-gray-200 p-4 font-bold rounded-t-lg">
                    Titulo do card
                </div>

                <div class="text-sm text-gray-400 dark:text-gray-200 p-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quibusdam dignissimos expedita, fugit commodi illo voluptate temporibus magni, eligendi non numquam minima architecto suscipit officia molestiae dolore ratione unde? Expedita?
                </div>
            </div>
        </div>
    </div>
</body>
</html>